@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

html {
    font-family: "Rajdhani",Helvetica;
    color: black;
}

body {
    background-color: #ffffff;
}

* {
    padding: 0;
    margin: 0;
}